*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

/*VISUAL CARDS*/
.cards{
  background:url("./assets/images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: visible;
  width: 100%;
  height: 290px;
}

.cardFront, .cardBack {
  position: absolute;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 80%;
  height: 80%;
  max-width: 447px;
  max-height: 245px;
  animation: flotar 3s infinite ease-in-out;

}

.cardBack{
  background: url("./assets/images/bg-card-back.png");
  right: 0.3%;
  background-size: 100% 100%;
}

.cardFront{
  background: url("./assets/images/bg-card-front.png");
  top:49%;
  background-size: 100% 100%;
  
}

.cardFront::before{
position: absolute;
  content: "";
  border-radius: 100%;
  background-color: white;
  height: 40px;
  width: 40px;
  top:9%;
  left:6%;
}

.visualcvc, .visualNumber, .visualName, .visualExpDate{
    position: absolute;
    color: white;
}

.visualcvc{
  top:46%;
  right: 14%;
}

.visualNumber{
  width: 100%;
  text-align: center;
  top:50%;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.visualName{
top:70%;
left:7%;
}

.visualExpDate{
  top:70%;
  right: 7%;
}

@keyframes flotar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(0);
  }
}

/*FORM*/
.cardForm{
  margin-top:100px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.continue-field{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.continue{
  width: 100%;
  
}

.cardForm input,.continue{
  height: 3.5rem;
  border-radius: 9px;
  outline: none;
  border: solid 1px gray;
  padding:0.4rem;
  transition: all 300ms;
}

.secretData{
  display: flex;
  justify-content: space-between;
}

#expDate{
  display:flex;
  flex-direction: column;
}

#expDate input{
  width: 45%;
}

#submit,.continue{
  background-color: rgb(36, 36, 36);
  color: white;
  font-size: 1.2rem;
  cursor:pointer;
  transition: filter 600ms;
}

#submit:hover,.continue:hover{
  filter:invert(1)
}

#cvc{
  display: flex;
  flex-direction: column;
}

.error{
  transition: all 600ms;
  border-color: red !important;
  box-shadow: 2px 1px 1px red;
}

@media (min-width:890px) {
  #container{
    display: flex;
    width: 100%;
  }
  .cards{
    background-image: url("./assets/images/bg-main-desktop.png");
    max-width:600px;
    width: 40%;
    height: 100vh;
    
  } 
  
  
  .cardBack{
    background: url("./assets/images/bg-card-back.png");
    right: -17%;
    top:10%;
    background-size: 100% 100%;
    width: 100%;
  }
  
  .cardFront{
    background: url("./assets/images/bg-card-front.png");
    top:45%;
    right: 2%;
    background-size: 100% 100%;
    width: 100%;
    
  }

  /*CARD FORM*/
  .cardForm{
    align-self: center;
    margin: 0 auto;
  }
}